body {
  color: #40514E;
margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
  }
  h1{
    color: #66BFBF;
    font-size: 70px;
    line-height: 1;
    width: 10%;
    margin:0 auto 0 auto;
    font-family: 'Sacramento',cursive;

  }

  h2 {
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
    padding-bottom: 10px;
  }

  h3 {
color: #11999E;
    font-family: 'Montserrat',sans-serif;
    font-weight: normal;

  }
  hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
  }

.top-container{
background-color: #E4F9F5;
position: relative;
padding-top: 100px;
}
.middle-container{

}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;

}
.contact-me{
  width: 40%;
  margin: 40px auto 40px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;

}
a{
color:  #11999E;
  font-family: 'Montserrat',sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.web-img {
  width: 15%;
}
.code-img{
  width: 15%;
}
.pro {
  text-decoration: underline;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
    font-family: 'Montserrat',sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;

}
